@font-face {
  font-family: ApfelGrotezk-Fett;
  src: url(ApfelGrotezk-Fett.otf);
}

@font-face {
  font-family: ApfelGrotezk-Brukt;
  src: url(ApfelGrotezk-Brukt.otf);
}

@font-face {
  font-family: IgnazioDisplay-Regular;
  src: url(IgnazioDisplay-Regular.otf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(OpenSans-Regular.ttf);
}





body {
 
  font-family: OpenSans-Regular;
/* background-image: url("bround1.jpg");*/
 background-color: #d3ebc7;
background-size: 100vw 100vh;


}



p {
  font-family: OpenSans-Regular;
  font-size: 4vw;
  color: #d3ebc7;
  padding-bottom: 0;
  position: relative;
 


}

svg {
  width: 20vw;
  height: auto;

}

a {
  color: #d3ebc7;
  text-align: center;
  margin: auto;
  text-decoration: none;

}

a:hover {
  background-color: #ff5902;

}


h1 {
  font-size: 6vw;
  font-family: ApfelGrotezk-Fett;
  color:#d3ebc7;
  padding-bottom: 0;
  padding-right: 3vw;

}

h1:hover {
 
  font-family: ApfelGrotezk-Brukt;
  font-size: 6vw;
}

h2 {
  font-size: 6vw;
  font-family: OpenSans-Regular;
  color:#d3ebc7;
  width: 80vw;

}

h3 {
  font-size: 6vw;
  font-family: OpenSans-Regular;
  color:#d3ebc7;
}

h4 {
  font-size: 3vw;
  font-family: OpenSans-Regular;
  color:#d3ebc7;


}



iframe {
 width:  72vw;
  height: 21vh;
  margin-top: 55vh;
  padding-right: 0;
z-index: 9;
left: -6vw;


transform: rotate(-90deg);

}



img {
  width: 30vw;
  height: auto;
  

}

#mobilecontainer {
  overflow-x: hidden;
}

.container-3{
  display: inline-flex;
  flex-direction: row;
  width: 100vw;
  z-index: 1;
   position: relative;
   height: 150vh;


 



}

.container-4{
  display: inline-flex;
  flex-direction: row;
  width: 100vw;
  z-index: 1;
   position: relative;
   height: 100vh;
   overflow-x: hidden;





}
.material-buttont2 {
  margin: auto;
  display: block;
  position: absolute;
width: 7vw;
height: 3vh;
   border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding: 5.5vw;
  left: 47vw;
  top: 7vh;
  padding: 4vw;
  padding-bottom: -3vh;

}

.navbuttonshome {

  top: 3vh;
  position: absolute;
}

.navbuttonshome3 {

  top: 3vh;
  position: absolute;
}


#activem {
  background-color: #d3ebc7;
  color: #283b00;
  z-index: 2;

}

#active {
  background-color: #ff5902;
  z-index: 3;
    color:  #fff9b3;
}

#activet {
  background-color: #283b00;
  z-index: 3;

}

#copytext {
  color:  #fff9b3;
}


.templateshape {
background: url(template-mobile.svg) no-repeat;
z-index: 5;
width: 150vw;
height: 1350vw;
position: absolute;
display: block;
left: -1%;
top: 60 vh;

}

.font-button {

background-image: url(font button-02.svg) no-repeat;
z-index: -6;
width: 100vw;
height: auto;
position: absolute;
display: block;
overflow: hidden;

left: -1%;
top: 250vh;

}

.font-button :hover {
  background-color: green;
  z-index: 6;
}



.shape1 {

z-index: -1;
width:220vw;

position: absolute;

left: -1%;
top: 23vh;

}

/*.sliderdiv {

  z-index: 4;

}
*/


.mcolor {
  background-color: #d3ebc7;
  

}

.tcolor {
  background-color: #283b00;


}

.ccolor {
  background-color: #fff9b3;


}



.pm {
  color:  #d3ebc7;
  width: 80vw;
  margin-right: 15%;
  top: -2vh;
  
}


.pt {
  color:  #283b00;
  width: 80vw;
  margin-right: 10%;
}



.ht {
  color: #283b00;
  position: absolute;
  margin-top: -2vh;
  width: 70vw;

}

.hc {
  color: #fff9b3;
  position: absolute;
  margin-top: -2vh;


}

.hm {
  color: #d3ebc7;
  position: absolute;
  margin-top: -2vh;
  

}



.at {
  color: #283b00;
}

.pc {
  color:  #fff9b3;
   width: 80vw;
  margin-right: 10%;

}

:hover .pc {
  color:  #fff9b3;
}

.ps {
  color:  #ff5902;
   width: 40vw;
  margin-right: 10%;
}

.hs {
  color:  #ff5902;
    position: absolute;
  margin-top: -5vh;
}


.as {
  color: #fff9b3;
  text-decoration: underline;
}


 .as :hover{
  color: #ff5902;
}

.am {
  color: #283b00;
  text-decoration: underline;
}




.templatetry2{
z-index: 10;
width: 150vw;
height: 1350vw;
position: absolute;
display: block;
left: -1%;
top: 60vh;

}



.code-download {
margin: auto;
position: relative;
width: 10vw;
height: 3vh;
   border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding: 5.5vw;
  top: 101%;
  left: 40%;
  padding: 4vw;

}

.font-download {
margin: auto;
position: relative;
width: 25vw;
height: 10vh;
   border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding: 4vw;
  top: 23.5%;
  left: 21%;


}

.flyer-download {
margin: auto;
position: relative;

width: 25vw;
height: 1vh;
   border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  top: 70.5%;
  left: -37%;
 

}





.resource-button {
  margin: auto;
  background-color: black;
  width:  30vw;

  font-size: 4vw;
  color:#d3ebc7;
  text-align: center;
  border-radius: 30% 55% 30% 60% / 30% 45% 50% 57%;;
  position: absolute;
top: 4vh;
  left: 49vw;
  padding: 5.5vw;


}

.m-resource-button {
  margin: auto;
  background-color: #d3ebc7;
  color: #283b00;
  width:  35vw;

  font-size: 6vw;
  text-align: center;
  border-radius: 30% 55% 30% 60% / 30% 45% 50% 57%;;
  position: absolute;
  left: 1vw;
  top: 84vh;
  padding: 6vw;

}

.ah {

  text-decoration: underline;
}

.hours-copy {

  background-color: #283b00;
  width:  80vw;
  font-size: 2vw;
  color:#d3ebc7;
z-index: 4;
  border-radius: 30% 55% 30% 70% / 40% 45% 40% 30%;;
  position: absolute;
  left: -6vw;
  top: 85vh;
 padding: 6vh;

}
.hours-copy2 {

  background-color: #283b00;
  width:  78vw;
  font-size: 5vw;
  color:#d3ebc7;
z-index: 2;
  border-radius: 30% 55% 30% 70% / 40% 45% 50% 40%;;
  position: absolute;
  left: 6vw;
  top: 125vh;
  padding: 8vw;

}


.material-copy {
  margin: auto;
  background-color: #d3ebc7;
  width:  145vw;
  height: 63vh;
  font-size: 2vw;
transform: rotate(180deg);
  text-align: center;
  border-radius: 30% 55% 30% 60% / 30% 45% 50% 57%;;
  position: absolute;
  left: -40vw;
  top: 23vh;
  padding: 2%;

}




.carbon-copy {
  margin: auto;
  background-color: #ff5902;
  width:  120vw;
  height: 50vh;
  font-size: 2vw;
  color:#d3ebc7;
  text-align: center;
  border-radius: 30% 55% 30% 60% / 30% 45% 50% 57%;;
  position: absolute;
  left: -25vw;
  top: 23vh;
  padding: 2%;

z-index: -4;
}

.carbon-copy2 {
  margin: auto;
  background-color: #ff5902;
  width:  70vw;
  height: 100vh;
  font-size: 2vw;
  color:#d3ebc7;
  text-align: center;
  border-radius: 30% 50% 30% 60% / 30% 45% 50% 50%;;
  position: absolute;
  left: 55vw;
  top:35vh;
  padding: 2%;
  transform: rotate(90deg);


}


.scrap-copy {
  margin: auto;
  background-color: #fff9b3;
  width:  70vw;
  height: 55vh;
  font-size: 2vw;
  color:#d3ebc7;
  text-align: center;
  border-radius: 30% 55% 30% 60% / 30% 45% 50% 57%;;
  position: absolute;
  left: -20vw;
  top: 20vh;
  padding: 2%;
  transform: rotate(4deg);
  z-index: -2;

}

.scrap-copy2 {
  margin: auto;
  background-color: #fff9b3;
  width:  50vw;
  height: 90vh;
  font-size: 2vw;
  color:#d3ebc7;
  text-align: center;
  border-radius: 30% 50% 30% 60% / 30% 45% 50% 50%;;
  position: absolute;
  left: 44vw;
  top:40vh;
  padding: 2%;
  transform: rotate(26deg);
z-index: -2;

}

.template-copy {
  margin: auto;
  background-color: #283b00;
  width:  120vw;
  height: 44vh;
  font-size: 2vw;
  color:#d3ebc7;
  text-align: center;
  border-radius: 30% 55% 30% 60% / 30% 45% 50% 57%;;
  position: absolute;
  left: -24vw;
  top: 25vh;
  padding: 2%;
transform: rotate(170deg);



}



.material-buttonhome {
  margin: auto;
  display: block;
  position: absolute;
width: 19vw;
height: 4vh;
   
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 3.6vw;
        text-decoration: none;
  background-color: black;
  padding: 5.5vw;
  left: 38vw;
  top: 12vh;
  padding: 4.5vw;
  padding-bottom: -3vh;

}

#active {
  background-color: #ff5902;
  z-index: 3;
}


.material-buttont {
  margin: auto;
  display: block;
  position: absolute;
width: 17vw;
height: 4vh;
   border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 3.6vw;
        text-decoration: none;
  background-color: orange;
  padding: 5.5vw;
  left: 47vw;
  top: 7vh;
  padding: 4.5vw;
  padding-bottom: -3vh;

}

.scrap-buttontactive {
  margin: auto;
  display: block;
  position: absolute;
width: 12vw;
height: 3vh;
z-index: 3;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color:#d3ebc7 ;
  color: #283b00;
  padding: 5.5vw;
  padding: 4vw;
  padding-bottom: -3vh;
  left: 74vw;
  top: 4vh;


}

.scrap-buttontactive2 {
  margin: auto;
  display: block;
  position: absolute;
width: 12vw;
height: 3vh;

    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: black;
  color: #d3ebc7;
  padding: 5.5vw;
 
  padding: 4vw;
  padding-bottom: -3vh;

  left: 74vw;
  top: 4vh;


}





.template-buttont {
  margin: auto;
  display: block;
  position: absolute;
width: 6vw;
height: 8vh;

    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: black;
  padding: 5.5vw;
 
  padding: 4vw;
  left: 61.5vw;
  top: 8.5vh;


}



.scrap-buttonhome {
  margin: auto;
  display: block;
  position: absolute;
width: 15vw;


    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 3.6vw;
        text-decoration: none;
  background-color: black;
  padding: 5.5vw;
 
  padding: 4.7vw;
  padding-bottom: -3vh;

  left: 64vw;
  top: 14vh;


}




.template-buttonhome {
  margin: auto;
  display: block;
  position: absolute;
width: 16vw;


    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 3.6vw;
        text-decoration: none;
  background-color: black;
  padding: 5.5vw;
 
  padding: 5vw;
  left: 14vw;
  top: 13vh;


}






.resources {
  margin-top: 10vh;

}

.m-resource-button0 {
  margin: auto;
  display: block;
  position: absolute;
   left: 49vw;
  top: 88vh;
  z-index: 3;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: #d3ebc7;;
  padding:5.5vw;
  width: 38vw;
  height: 5vh;
  color: #283b00;

}

.m-resource-button1 {
  margin: auto;
  display: block;
  position: absolute;
   left: 60vw;
  top: 99vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  width: 17vw;
  height: 5vh;
  color: #d3ebc7;

}

.m-resource-button2 {
    margin: auto;
  display: block;
  position: absolute;
   left: 30vw;
  top: 97vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  width: 17vw;
  height: 5vh;
  color: #d3ebc7;

}

.m-resource-button3 {
    margin: auto;
  display: block;
  position: absolute;
   left:6vw;
  top: 105vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  width: 22vw;
  height: 7vh;
  color: #d3ebc7;

}

.m-resource-button5 {
    margin: auto;
  display: block;
  position: absolute;
   left:39vw;
  top: 109vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  width: 48vw;
  height: 8vh;
  color: #d3ebc7;

}

.m-resource-button6 {
  margin: auto;
  display: block;
  position: absolute;
   left:2vw;
  top: 118vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  width: 40vw;
  color: #d3ebc7;

}

.m-resource-button7 {
  margin: auto;
  display: block;
  position: absolute;
   left:57vw;
  top: 122vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  width: 19vw;
  color: #d3ebc7;

}

.m-resource-button8 {
  margin: auto;
  display: block;
  position: absolute;
   left:14vw;
  top: 129vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  width: 38vw;
  color: #d3ebc7;

}

.m-resource-button9 {
  margin: auto;
  display: block;
  position: absolute;
   left:56vw;
  top: 136vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  width: 30vw;
  color: #d3ebc7;

}

.m-resource-button10 {
  margin: auto;
  display: block;
  position: absolute;
   left:4vw;
  top: 140vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  width: 26vw;
  color: #d3ebc7;
}

.m-resource-button11 {
  margin: auto;
  display: block;
  position: absolute;
   left:42vw;
  top: 144vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  width: 20vw;
  color: #d3ebc7;
}



.m-resource-button13 {
  margin: auto;
  display: block;
  position: absolute;
   left:12vw;
  top: 150vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  width: 26vw;
  color: #d3ebc7;


}

.m-resource-button14 {
  margin: auto;
  display: block;
  position: absolute;
   left:44vw;
  top: 156vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  width: 38vw;
  color: #d3ebc7;

}

.m-resource-button15 {
 margin: auto;
  display: block;
  position: absolute;
   left:7vw;
  top: 160vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  width: 18vw;
  color: #d3ebc7;
padding-bottom: 5vw;
margin-bottom: 3vh;
}
.m-resource-button16 {
 margin: auto;
  display: block;
  position: absolute;
   left:42vw;
  top: 166vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 4vw;
        text-decoration: none;
  background-color: black;
  padding:5.5vw;
  width: 26vw;
  color: #d3ebc7;
padding-bottom: 5vw;
margin-bottom: 3vh;
}

.logosize {
  background: url(logo-static.svg) no-repeat;
  width: 90vw;
height: 30vh;

  margin-left: -2vw;
  margin-top: -1vh;
}

.logosize:hover  {
  background: url(logo-hover.svg) no-repeat;
 }

 .logosizem {
  background: url(website-logos-green.svg) no-repeat;
  width: 90vw;
height: 30vh;

  margin-left: -2vw;
  margin-top: -1vh;
}

.logosizem:hover  {
  background: url(website-logos-green-hover.svg) no-repeat;
 }

  .logosizec {
  background: url(website-logos-orange.svg) no-repeat;
  width: 90vw;
height: 30vh;

  margin-left: -2vw;
  margin-top: -1vh;
}

.logosizec:hover  {
  background: url(website-logos-orange-hover.svg) no-repeat;
 }

   .logosizet {
  background: url(website-logos-blue.svg) no-repeat;
  width: 90vw;
height: 30vh;

  margin-left: -2vw;
  margin-top: -1vh;
}

.logosizet:hover  {
  background: url(website-logos-blue-hover.svg) no-repeat;
 }

    .logosizes {
  background: url(website-logos-yellow.svg) no-repeat;
  width: 90vw;
height: 30vh;

  margin-left: -2vw;
  margin-top: -1vh;
}

.logosizes:hover  {
  background: url(website-logos-yellow-hover.svg) no-repeat;
 }





.container-2 {
  padding-left: 4vw;

 }

 .container-5 {
  padding-left: 4vw;
  overflow-y: hidden;
  overflow-x: hidden;

 }



.box-1{
  flex-direction: column;
  padding-right: 25%;

 

}



.box-3{
    padding-right: 5vw;
    flex-wrap: nowrap;



 
}

.box-9{

      padding-right: 5vw;
    flex-wrap: nowrap;
   padding-top: 10vh;



 
}





.box-6{
  top: 120vh;
left: 60vw;
}



.box-mini {
  display: inline-flex;
  padding-bottom: -2vh;
  width: 250vw;
  height: auto;

}

.moveup {
margin-top: -5vh;
margin-left: 2vw;
width: 90vw;
}






{
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    margin: auto;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    margin: auto;
    }






@media only screen and (min-width: 500px) {


@font-face {
  font-family: ApfelGrotezk-Fett;
  src: url(ApfelGrotezk-Fett.otf);
}

@font-face {
  font-family: ApfelGrotezk-Brukt;
  src: url(ApfelGrotezk-Brukt.otf);
}

@font-face {
  font-family: IgnazioDisplay-Regular;
  src: url(IgnazioDisplay-Regular.otf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(OpenSans-Regular.ttf);
}


body {
 
  font-family: OpenSans-Regular;
/* background-image: url("bround1.jpg");*/
 background-color: #d3ebc7;
background-size: 100vw 100vh;


}



p {
  font-family: OpenSans-Regular;
  font-size: 1.5vw;
  color: #d3ebc7;
  padding-bottom: 0;
  position: relative;
 


}

svg {
  width: 20vw;
  height: auto;

}

a {
  color: #d3ebc7;
  text-align: center;
  margin: auto;
  text-decoration: none;

}

a:hover {
  background-color: #ff5902;

}


h1 {
  font-size: 6vw;
  font-family: ApfelGrotezk-Fett;
  color:#d3ebc7;
  padding-bottom: 0;
  padding-right: 3vw;

}

h1:hover {
 
  font-family: ApfelGrotezk-Brukt;
  font-size: 6vw;
}

h2 {
  font-size: 3vw;
  font-family: OpenSans-Regular;
  color:#d3ebc7;
  width: 45vw;

}

h3 {
  font-size: 2vw;
  font-family: OpenSans-Regular;
  color:#d3ebc7;
}

h4 {
  font-size: 3vw;
  font-family: OpenSans-Regular;
  color:#d3ebc7;


}



iframe {
  width:  36vw;
  height: 43vh;
top: 3vh;
  border: none;
  padding-right: 4vw;
  padding: 4vw;
z-index: 4;
position: absolute;

transform: rotate(-90deg);
margin-top: 16vw;



}



img {
  width: 30vw;
  height: auto;
  

}

#active {
  background-color: #ff5902;
  z-index: 3;
    color:  #fff9b3;
}

#activet {
  background-color: #283b00;
  z-index: 3;

}

#copytext {
  color:  #fff9b3;
}

.templateshape {
background: url(template.svg) no-repeat;
z-index: 5;
width: 100vw;
height: 500vw;
position: absolute;
display: block;
left: -1%;
top: 50vh;

}

.bottomtemplate {

width: 100%;
height: auto;

}

.templateshape2 {

z-index: 2;
width: 100vw;
height: auto;
position: absolute;
display: inline-block;
overflow: hidden;

left: -1%;
top: 100vh;

}



.font-button {

background-image: url(font button-02.svg) no-repeat;
z-index: 6;
width: 100vw;
height: auto;
position: absolute;
display: block;
overflow: hidden;


top: 250vh;

}

.font-button :hover {
  fill: green;
  z-index: 6;
}



.shape1 {

z-index: -1;
width: 88vw;
height: auto;
position: absolute;


left: -5%;
top: 23vh;

}

.sliderdiv {

  z-index: 4;

}



.mcolor {
  background-color: #d3ebc7;
  

}

.tcolor {
  background-color: #283b00;


}

.ccolor {
  background-color: #fff9b3;


}



.pm {
  color:  #d3ebc7;
  width: 40vw;
  margin-right: 15%;

}


.pt {
  color:  #283b00;
  width: 40vw;
  margin-right: 10%;
}



.ht {
  color: #283b00;
  position: absolute;
  margin-top: -5vh;

}

.hc {
  color: #fff9b3;
  position: absolute;
  margin-top: -5vh;

}

.hm {
  color: #d3ebc7;
  position: absolute;
  margin-top: -5vh;


}



.at {
  color: #283b00;
}

.pc {
  color:  #fff9b3;
   width: 40vw;
  margin-right: 10%;


}

:hover .pc {
  color:  #fff9b3;
}

.ps {
  color:  #ff5902;
   width: 40vw;
  margin-right: 10%;
}

.hs {
  color:  #ff5902;
    position: absolute;
  margin-top: -5vh;
}


.as {
  color: #fff9b3;
  text-decoration: underline;
}


 .as :hover{
  color: #ff5902;
}

.ah {
  color: #d3ebc7;
  text-decoration: underline;
}



.am {
  color: #283b00;
  text-decoration: underline;
}





.slider {
   top: 50%;
left: -33px;
     height: 3px;
  border-radius: 5px; 
  position: absolute;
  z-index: 4;
  transform: rotate(-270deg);

}

.resource-button {
  margin: auto;
  background-color: black;
  width:  20vw;
  height: 1vh;
  font-size: 2vw;
  color:#d3ebc7;
  text-align: center;
  border-radius: 30% 55% 30% 60% / 30% 45% 50% 57%;;
  position: absolute;
top: 4vh;
  left: 49vw;
  padding: 5vw;


}

.m-resource-button {
  margin: auto;
  background-color: #d3ebc7;
  color: #283b00;
  width:  24vw;
  height: 8vh;
  font-size: 3vw;
  text-align: center;
  border-radius: 30% 55% 30% 60% / 30% 45% 50% 57%;;
  position: absolute;
  left: 60vw;
  top: 65vh;
  padding: 3%;

}



.hours-copy {

  background-color: #283b00;
  width:  34vw;

margin: auto;
  font-size: 2vw;
  color:#d3ebc7;
z-index: 4;
  border-radius: 30% 55% 30% 60% / 30% 45% 50% 57%;;
  position: absolute;
  left: 55vw;
  top: 34vh;
 padding-bottom: 14vh;
 padding-right: 6vw;
 padding-left: 8vw;

}
.hours-copy2 {
margin: auto;
  background-color: #283b00;
  width:  30vw;
z-index: 4;
  font-size: 2vw;
  color:#d3ebc7;

  border-radius: 30% 55% 30% 60% / 30% 45% 50% 57%;;

  left: 59vw;
  top: 98vh;
  

}


.material-copy {
  margin: auto;
  background-color: #d3ebc7;
  width:  75vw;
  height: 60vh;
  font-size: 2vw;
transform: rotate(180deg);
  text-align: center;
  border-radius: 30% 55% 30% 60% / 30% 45% 50% 57%;;
  position: absolute;
  left: -18vw;
  top: 23vh;
  padding: 2%;

}




.carbon-copy {
  margin: auto;
  background-color: #ff5902;
  width:  75vw;
  height: 50vh;
  font-size: 2vw;
  color:#d3ebc7;
  text-align: center;
  border-radius: 30% 55% 30% 60% / 30% 45% 50% 57%;;
  position: absolute;
  left: -25vw;
  top: 23vh;
  padding: 2%;
  transform: rotate(-8deg);
z-index: -4;
  overflow: hidden;
}

.carbon-copy2 {
  margin: auto;
  background-color: #ff5902;
  width:  40vw;
  height: 100vh;
  font-size: 2vw;
  color:#d3ebc7;
  text-align: center;
  border-radius: 30% 50% 30% 60% / 30% 45% 50% 50%;;
  position: absolute;
  left: 55vw;
  top:20vh;
  padding-right: 5vw;
  transform: rotate(90deg);
  overflow: hidden;


}


.scrap-copy {
  margin: auto;
  background-color: #fff9b3;
  width:  70vw;
  height: 55vh;
  font-size: 2vw;
  color:#d3ebc7;
  text-align: center;
  border-radius: 30% 55% 30% 60% / 30% 45% 50% 57%;;
  position: relative;
  left: -20vw;
  top: 20vh;
  padding: 2%;
  transform: rotate(4deg);
  z-index: -2;

}

.navbuttonshome {

  top: -13vh;
  left: 0vw;
  position: absolute;
}

.navbuttonshome3 {

  top: -13vh;
  left: 0vw;
  position: absolute;
}

.scrap-copy2 {
  margin: auto;
  background-color: #fff9b3;
  width:  50vw;
  height: 90vh;
  font-size: 2vw;
  color:#d3ebc7;
  text-align: center;
  border-radius: 30% 50% 30% 60% / 30% 45% 50% 50%;;
  position: absolute;
  left: 44vw;
  top:40vh;
  padding: 2%;
  transform: rotate(26deg);
z-index: -2;

}

.template-copy {
  margin: auto;
  background-color: #283b00;
  width:  75vw;
  height: 48vh;
  font-size: 2vw;
  color:#d3ebc7;
  text-align: center;
  border-radius: 30% 55% 30% 60% / 30% 45% 50% 57%;;
  position: absolute;
  left: -25vw;
  top: 23vh;
  padding: 2%;

}



.material-buttonhome {
  margin: auto;
  display: block;
  position: absolute;
width: 7vw;
height: 3vh;
   
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: black;
  padding: 5.5vw;
  left: 47vw;
  top: 20vh;
  padding: 4vw;
  padding-bottom: -3vh;

}

.material-buttont {
  margin: auto;
  display: block;
  position: absolute;
width: 7vw;
height: 3vh;
   border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #ff5902;
  padding: 5.5vw;
  left: 47vw;
  top: 7vh;
  padding: 4vw;
  padding-bottom: -3vh;

}



.scrap-buttont {
  margin: auto;
  display: block;
  position: absolute;
width: 12vw;
height: 3vh;

    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: black;
  padding: 5.5vw;
 
  padding: 4vw;
  padding-bottom: -3vh;

  left: 74vw;
  top: 17vh;


}


.scrap-buttontactive2 {
  margin: auto;
  display: block;
  position: absolute;
width: 12vw;
height: 3vh;

    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: black;
  padding: 5.5vw;
  padding: 4vw;
  padding-bottom: -3vh;

  left: 74vw;
  top: 17vh;


}


.template-buttont {
  margin: auto;
  display: block;
  position: absolute;
width: 6vw;
height: 8vh;

    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: black;
  padding: 5.5vw;
 
  padding: 4vw;
  left: 61.5vw;
  top: 8.5vh;


}

.template-buttontactive {
  margin: auto;
  display: block;
  position: absolute;
width: 6vw;
height: 8vh;

    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #283b00;
  padding: 5.5vw;
 
  padding: 4vw;
  left: 61.5vw;
  top: 8.5vh;


}

.scrap-buttonhome {
  margin: auto;
  display: block;
  position: absolute;
width: 12vw;
height: 3vh;

    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: black;
  padding: 5.5vw;
 
  padding: 4vw;
  padding-bottom: -3vh;

  left: 74vw;
  top: 17vh;


}

.scrap-buttonhome :hover{
color: green;

}




.carbon-buttonhome {
  margin: auto;
  text-decoration: none;
  background-color: black;
  cursor: pointer;
  width:  22vw;
  height: 8vh;
  font-size: 1.4vw;
  color:#d3ebc7;
  text-align: center;
  border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
  position: absolute;
  transform: rotate(26deg);
  left: 68vw;
  top: 27vh;
  padding: 2%;

}


.template-buttonhome {
  margin: auto;
  display: block;
  position: absolute;
width: 6vw;
height: 8vh;

    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: black;
  padding: 5.5vw;
 
  padding: 4vw;
  left: 61.5vw;
  top: 21.5vh;


}


.template-buttonhome :hover{
color: green;
 background-color: #d3ebc7;
}

.template-buttonhome a.active{
 color: green;

}


.font-download {
  margin: auto;
  display: block;
  position: absolute;
width: 7vw;
height: 3vh;
   border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: black;
  padding: 5.5vw;
  left: 24vw;
  top: 257vh;
  padding: 4vw;
  padding-bottom: -3vh;

}

.code-download {
margin: auto;
position: relative;
width: 10vw;
height: 3vh;
   border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 2vw;
        text-decoration: none;
  background-color: black;
  padding: 5.5vw;
  top: 96%;
left: 9%;
  padding: 4vw;

}

.font-download {
margin: auto;
position: relative;
width: 15vw;
height: 5vh;
   border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 2vw;
        text-decoration: none;
  background-color: black;
  padding: 3vw;
  top: 23.5%;
  left: -1%;


}

.flyer-download {
margin: auto;
position: relative;

width: 25vw;
height: 1vh;
   border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 2vw;
        text-decoration: none;
  background-color: black;
  padding: 4vw;
  top: 67%;
  left: 27%;
 

}



.templatetry2{
z-index: 10;
width: 100vw;
height: 500vw;
position: absolute;
display: block;
left: -1%;
top: 50vh;

}



.m-resource-button0 {
  margin: auto;
  display: block;
  position: absolute;
   left: 2vw;
  top: 86vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding:4vw;
  width: 18vw;
  height: 3vh;
  color: #283b00;

}

.m-resource-button1 {
  margin: auto;
  display: block;
  position: absolute;
   left: 60vw;
  top: 85vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding:5.5vw;
  width: 5vw;
  height: 3vh;
  color: #283b00;

}

.m-resource-button2 {
    margin: auto;
  display: block;
  position: absolute;
  left: 75vw;
  top: 84vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding: 2vw;
  width: 10vw;
  height: 5vh;
  color: #283b00;

}

.m-resource-button3 {
  margin: auto;
  display: block;
  position: absolute;
   left: 73vw;
  top: 100vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding:4vw;
  width: 14vw;
  height: 3vh;
  color: #283b00;

}

.m-resource-button5 {
  margin: auto;
  display: block;
  position: absolute;
  vertical-align: center;
   left: 73vw;
  top: 134vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding:3vw;
  width: 16vw;
  height: 10vh;
  color: #283b00;

}

.m-resource-button6 {
  margin: auto;
  display: block;
  position: absolute;
  vertical-align: center;
   left: 55vw;
  top: 108vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding:3vw;
  width: 12vw;
  height: 10vh;
  color: #283b00;

}

.m-resource-button7 {
  margin: auto;
  display: block;
  position: absolute;
  vertical-align: center;
   left: 72vw;
  top: 119vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding:3vw;
  width: 9vw;
  height: 4vh;
  color: #283b00;

}

.m-resource-button8 {
  margin: auto;
  display: block;
  position: absolute;
  vertical-align: center;
   left: 50vw;
  top: 140vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding:3vw;
  width: 10vw;
  height: 5vh;
  color: #283b00;

}

.m-resource-button9 {
  margin: auto;
  display: block;
  position: absolute;
  vertical-align: center;
   left: 40vw;
  top: 120vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding:3vw;
  width: 9vw;
  height: 10vh;
  color: #283b00;

}

.m-resource-button10 {
  margin: auto;
  display: block;
  position: absolute;
  vertical-align: center;
   left: 55vw;
  top: 129vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding:3vw;
  width: 14vw;
  height: 1vh;
  color: #283b00;

}

.m-resource-button11 {
  margin: auto;
  display: block;
  position: absolute;
  vertical-align: center;
   left: 64vw;
  top: 150vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding:3vw;
  width: 8vw;
  height: 8vh;
  color: #283b00;

}

.m-resource-button16 {
  margin: auto;
  display: block;
  position: absolute;
  vertical-align: center;
   left: 40vw;
  top: 156vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding:3vw;
  width: 18vw;
  height: 2vh;
  color: #283b00;

}




.m-resource-button13 {
  margin: auto;
  display: block;
  position: absolute;
  vertical-align: center;
   left: 30vw;
  top: 138vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding:3vw;
  width: 10vw;
  height: 9vh;
  color: #283b00;

}

.m-resource-button14 {
  margin: auto;
  display: block;
  position: absolute;
  vertical-align: center;
   left: 77vw;
  top: 159vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding:3vw;
  padding-bottom: 8vh;
    padding-top: 8vh;
  width: 7vw;
  
  color: #283b00;

}

.m-resource-button15 {
  margin: auto;
  display: block;
  position: absolute;
  vertical-align: center;
   left: 58vw;
  top: 167vh;
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
    text-align: center;
      font-size: 1.4vw;
        text-decoration: none;
  background-color: #d3ebc7;
  padding:3vw;
  width: 7vw;
  height: 7vh;
  color: #283b00;

}

.logosize {
  background: url(logo-static.svg) no-repeat;
  width: 28vw;
height: 30vh;
  margin-left: -2vw;
  margin-top: 2vh;
}

.logosize:hover  {
  background: url(logo-hover.svg) no-repeat;
 }

 .logosizem {
  background: url(website-logos-green.svg) no-repeat;
  width: 28vw;
height: 30vh;
  margin-left: -2vw;
  margin-top: 2vh;
}

.logosizem:hover  {
  background: url(website-logos-green-hover.svg) no-repeat;
 }

  .logosizec {
  background: url(website-logos-orange.svg) no-repeat;
  width: 28vw;
height: 30vh;
  margin-left: -2vw;
  margin-top: 2vh;
}

.logosizec:hover  {
  background: url(website-logos-orange-hover.svg) no-repeat;
 }

   .logosizet {
  background: url(website-logos-blue.svg) no-repeat;
  width: 28vw;
height: 30vh;
  margin-left: -2vw;
  margin-top: 2vh;
}

.logosizet:hover  {
  background: url(website-logos-blue-hover.svg) no-repeat;
 }

    .logosizes {
  background: url(website-logos-yellow.svg) no-repeat;
  width: 28vw;
height: 30vh;
  margin-left: -2vw;
  margin-top: 2vh;
}

.logosizes:hover  {
  background: url(website-logos-yellow-hover.svg) no-repeat;
 }



.container-1{
  display: inline-flex;
  flex-direction: row;
  width: 100vw;
  z-index: 1;
   position: relative;
   height: 130vh;
   overflow-x: hidden;
   overflow-y: hidden;

}

.container-3{
  display: inline-flex;
  flex-direction: row;
  width: 100vw;
  z-index: 1;
   position: relative;
   height: 130vh;



}

.container-2 {
  padding-left: 4vw;
  width: 96vw;


}

.container-5 {
  padding-left: 4vw;
  width: 96vw;


}




.box-1{
  flex-direction: column;
  padding-right: 25%;

 

}



.box-3{
    padding-right: 5vw;
    flex-wrap: nowrap;



 
}

.box-9{

      padding-right: 5vw;
    flex-wrap: nowrap;
   padding-top: 10vh;



 
}





.box-6{
  top: 120vh;
left: 60vw;
}



.box-mini {
  display: inline-flex;
  padding-bottom: -2vh;
  width: 50vw;
  height: auto;

}

.moveup {
margin-top: -5vh;
margin-left: 2vw;
width: 34vw;
position: relative;
}



{
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    margin: auto;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    margin: auto;
    }




